<% if login? %>
	<ul>
	<% User.first(:name => username).datasets.all(:order => [ :touch.desc ]).each do |show| %>
		<li><a href="<%= to('/show/'+show.name) %>"><%== show.name %></a></li>
	<% end %>
	</ul>
	Change Password:<br>
	<form method="post" action="/change-password">
		<input type="password" name="old_password" placeholder="Old Password"><br>
		<input type="password" name="password" placeholder="New Password"><br>
		<input type="password" name="password_repeat" placeholder="Repeat New Password"><br>
		<input type="submit" value="change password">
	</form>
	<br><br>
	Delete Account:</br>
	<form method="post" action="/delete">
		<input type="password" name="password" placeholder="Confirm Password"><br>
		<input type="submit" value="delete account"> Cannot be undone!
	</form>
<% else %>	
	<form method="post" action="/login">
		<input type="text" placeholder="Username" name="username"><br>
		<input type="password" name="password" placeholder="Password"><br>
		<input type="password" name="password_repeat" placeholder=" Repeat Password"> to register<br>
		<input type="submit" value="login/register!">
	</form>
<% end %>
